body {
    background-color: #26233a;
    color: #e0def4;
    font-family: Arial;
}

/* Large */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.item {
    background-color: #191724;
    display: flex;
    flex-flow: column nowrap;
    margin: 1px;
}

.item .icon {
    width: 198px;
}

.item .name {
    font-weight: bold;
    padding: 3px;
    max-width: 194px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.player {
    height: 50px;
    padding: 3px;
    background-color: #6e6a86;
    display: flex;
    flex-flow: row nowrap;
}

/* Medium screens */
@media all and (max-width: 800px) {

    .item .icon {
        width: 98px;
    }

    .item .name {
        max-width: 94px;
    }

}
